.img{
    position: absolute;
    width: 36px;
    height: 36px;
    top:20px;
    left: 14px;
    border-radius: 20px;
}
.search-bar{
    position: absolute;
    left: 14.73%;
    right: 13.53%;
    top: 3px;
}
.icon-header{
    position: absolute;
    top:8px;
    left: 300px;
}
.content-home{
    margin-top: 30%;
}
.list-menu{
    list-style-type: none;
    display: inline-block;
    line-height: 20px;
    margin: 25px;
    word-wrap: break-word;
}
